<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Index page</title>
</head>
<body>
  <p>Index page from Thymeleaf</p>
  <p th:text="${trialLine}" />
  <p><a th:href="@{/servlet}">Servlet page</a></p>
  <p><a th:href="@{/trial}">Trial page</a></p>
  <div sec:authorize="isAuthenticated()">
      <form th:action="@{/logout}" th:method="post">
          <input type="submit" value="Log out"/>
      </form>
  </div>
</body>
</html>